.app
  background-image: linear-gradient(to right, $brand-secondary 0%,  $color-white 100%)

.nav
  margin: 0 $m-xxl
  padding-top: $m-md
  display: flex
  justify-content: flex-end
  align-items: center

  &__logo
    margin-right: auto

  &__links
    display: flex
    list-style-type: none

  &__link
    a
      color: $brand-text
      text-decoration: none
      margin: 0 $m-md
      border-bottom: 2px solid transparent
      transition: color .3s, border-color .3s

      &:hover
        color: $brand-primary
        border-color: $brand-primary

  &__buttons
    display: flex

  &__button
    margin: 0 $m-md
    padding: $m-sm $m-lg
    font-weight: $font-weight-bold
    text-transform: uppercase
    border-radius: $border-radius-sm
    cursor: pointer
    transition: box-shadow .5s
    outline: none

    &:hover
      box-shadow: 0 2px 15px 0 rgba($brand-primary, 0.3)

    &.-primary
      background-image: linear-gradient(to bottom left, rgba($brand-primary, 0.8),  rgba($brand-primary, 1))
      border: 1px solid $button-border-color
      color: $color-white

    &.-secondary
      background-image: linear-gradient(to bottom left, rgba($brand-secondary, 0.5),  rgba($brand-secondary, 1))
      border: 1px solid $button-border-color

.subscribe
  display: flex
  justify-content: center
  align-items: center
  padding: $m-xxl

  &__header, &__pro, &__email-label
    color: $color-black

  &__animation, &__start
    padding: 0 $m-lg * 2
    flex-basis: 600px

  &__animation
    height: 100px
    width: 100px
    animation-name: play
    animation-duration: 2s
    animation-iteration-count: infinite

  &__field
    display: flex
    flex-direction: column

  &__email-input
    background-color: $placeholder-color
    border-radius: $border-radius-sm
    height: 36px
    border: 1px solid $color-gray-light
    outline: none
    padding: $m-xs

    ::selection
      background: blue

  &__links
    margin: $m-base 0
    display: flex
    justify-content: space-between

  &__privacy-policy
    color: $color-gray

  &__get-started
    padding: $m-sm $m-lg
    font-weight: $font-weight-bold
    text-transform: uppercase
    border-radius: $border-radius-sm
    cursor: pointer
    transition: box-shadow .5s
    outline: none
    background-image: linear-gradient(to bottom left, rgba($brand-success, 0.8),  rgba($brand-success, 1))
    border: 1px solid $button-border-color
    color: $color-white

    &:hover
      box-shadow: 0 2px 15px 0 rgba($brand-success, 0.3)


@keyframes play
  0%
    color: red
  100%
    color: black



