.content
  margin: $m-md $m-xxl

.nav
  display: flex
  justify-content: flex-end
  align-items: baseline

  &__logo
    margin-right: auto

  &__links
    display: flex
    list-style-type: nonegaag

  &__link
    a
      color: $brand-text
      text-decoration: none
      margin: 0 $m-md

  &__buttons
    display: flex

  &__button
    margin: 0 $m-md

