.app
  background-image: linear-gradient(to right, $brand-secondary 0%,  $color-white 100%)

.nav
  align-items: center
  display: flex
  justify-content: flex-end
  margin: 0 $m-xxl
  padding-top: $m-md

  &__menu-icon
    color: $brand-primary
    height: 40px

  &__logo
    margin-right: auto

  &__links
    display: none

  &__buttons
    display: none

.subscribe
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center
  padding: $m-base

  &__header, &__pro, &__email-label
    color: $color-black

  &__animation-container
    align-items: center
    background-color: $brand-secondary
    border-radius: 5%
    border: 2px solid $color-silver
    display: flex
    justify-content: center
    margin-bottom: $m-lg
    max-width: 600px
    width: 100%

  &__animation
    align-items: center
    animation-direction: alternate
    animation-duration: 3s
    animation-iteration-count: infinite
    animation-name: play
    border-radius: 50%
    display: flex
    height: 100px
    justify-content: center
    margin: $m-lg * 2 0
    width: 100px

    &:hover
      animation: none
      box-shadow: 0 0 5px 5px rgba($brand-primary, 0.7)
      color: $brand-primary

  &__icon
    height: 50px
    transform: translateX(5%)
    width: 50px

  &__field
    display: flex
    flex-direction: column

  &__email-input
    background-color: $placeholder-color
    border-radius: $border-radius-sm
    border: 1px solid $color-gray-light
    height: 36px
    outline: none
    padding: $m-xs

    ::selection
      background: blue

  &__links
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: $m-base 0

  &__privacy-policy
    color: $color-gray

  &__get-started
    background-image: linear-gradient(to bottom left, rgba($brand-success, 0.8),  rgba($brand-success, 1))
    border-radius: $border-radius-sm
    border: 1px solid $button-border-color
    color: $color-white
    cursor: pointer
    font-weight: $font-weight-bold
    outline: none
    padding: $m-sm $m-lg
    text-transform: uppercase
    transition: box-shadow .5s
    white-space: nowrap

    &:hover
      box-shadow: 0 2px 15px 0 rgba($brand-success, 0.3)


  @keyframes play
    0%
      box-shadow: 0 0 40px 5px rgba($brand-primary, 0.4)
      color:  $color-gray
    100%
      box-shadow: 0 0 20px 5px rgba($brand-primary, 0.5)
      color: $brand-primary

.testimonials
  align-items: center
  display: flex
  flex-direction: column
  margin: 0 auto
  max-width: 600px
  padding: $m-base

  &__slider
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    position: relative

  &__portrait
    display: none

  &__left-panel
    align-items: center
    display: flex
    flex-basis: 300px
    flex-direction: column

  &__quotation
    background-color: white
    box-shadow: 0 0 20px 5px rgba($color-gray-light, 0.5)
    display: flex
    flex-direction: column
    padding: $m-base

  &__arrow
    display: none

  &__buttons
    display: none

  &__role
    font-size: $font-size-sm

  &__left-quote,
  &__right-quote
    color: $color-silver
    margin: $m-base 0
    width: 30px

  &__right-quote
    align-self: flex-end

  &__header
    color: $color-black

    &.-space
      margin: $m-xxl * 2 0 $m-xxl 0

  &__companies
    display: flex
    flex-wrap: wrap

  &__company
    color: $color-gray-light
    height: 50px
    margin: 0 $m-sm
    transition: color .3s

    &:hover
      color: $color-gray

//////////////////////////////////////////////////////////
+media-breakpoint-up(xl)
  .nav
    &__menu-icon
      display: none

    &__logo
      margin-right: auto

    &__links
      display: flex
      list-style-type: none

    &__link
      a
        border-bottom: 2px solid transparent
        color: $brand-text
        margin: 0 $m-md
        text-decoration: none
        transition: color .3s, border-color .3s

        &:hover
          border-color: $brand-primary
          color: $brand-primary

    &__buttons
      display: flex

    &__button
      border-radius: $border-radius-sm
      cursor: pointer
      font-weight: $font-weight-bold
      margin: 0 $m-md
      outline: none
      padding: $m-sm $m-lg
      text-transform: uppercase
      transition: box-shadow .5s

      &:hover
        box-shadow: 0 2px 15px 0 rgba($brand-primary, 0.3)

      &.-primary
        background-image: linear-gradient(to bottom left, rgba($brand-primary, 0.8),  rgba($brand-primary, 1))
        border: 1px solid $button-border-color
        color: $color-white

      &.-secondary
        background-image: linear-gradient(to bottom left, rgba($brand-secondary, 0.5),  rgba($brand-secondary, 1))
        border: 1px solid $button-border-color

  .subscribe
    flex-direction: row
    padding: $m-xxl * 2 $m-xxl

    &__animation-container, &__start
      padding: 0 $m-lg * 2

    &__links
      flex-wrap: nowrap

  .testimonials
    max-width: none

    &__slider
      flex-direction: row

    &__arrow
      background-color: $color-silver
      cursor: pointer
      display: block
      padding: $m-md

    &__buttons
      bottom: 0
      display: flex
      position: absolute

    &__button
      background-color: $color-gray-light
      cursor: pointer
      height: 3px
      margin: 0 5px
      width: 30px

    &__portrait
      display: block
      max-height: 600px

      &.-active
        background-color: $color-gray-dark